In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("multiple_linear_regression.csv")

In [5]:
data.head()

   Feature 1  Feature 2  Feature 3  Target
0      230.1       37.8       69.2    22.1
1       44.5       39.3       45.1    10.4
2       17.2       45.9       69.3     9.3
3      151.5       41.3       58.5    18.5
4      180.8       10.8       58.4    12.9

In [8]:
x = data.iloc[:,:2]
x.head()

   Feature 1  Feature 2
0      230.1       37.8
1       44.5       39.3
2       17.2       45.9
3      151.5       41.3
4      180.8       10.8

In [11]:
y = data.iloc[:,-1]
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: Target, dtype: float64

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=43)

In [13]:
import statsmodels.api as sm

x_with_constant = sm.add_constant(x_train) # it just adds a filed with a constant with value as 1 to the data 
x_with_constant

     const  Feature 1  Feature 2
71     1.0      109.8       14.3
90     1.0      134.3        4.9
100    1.0      222.4        4.3
44     1.0       25.1       25.7
94     1.0      107.4       14.0
..     ...        ...        ...
58     1.0      210.8       49.6
21     1.0      237.4        5.1
49     1.0       66.9       11.7
64     1.0      131.1       42.8
68     1.0      237.4       27.5

[140 rows x 3 columns]

In [14]:
model = sm.OLS(y_train, x_with_constant) # assigns the input and output to the OLS model

In [15]:
result = model.fit() # trains your model with x_with_constant data and y_train

In [16]:
result.params

const        3.042658
Feature 1    0.045956
Feature 2    0.180111
dtype: float64

In [17]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Target   R-squared:                       0.884
Model:                            OLS   Adj. R-squared:                  0.883
Method:                 Least Squares   F-statistic:                     523.8
Date:                Mon, 11 Sep 2023   Prob (F-statistic):           6.70e-65
Time:                        11:12:16   Log-Likelihood:                -276.51
No. Observations:                 140   AIC:                             559.0
Df Residuals:                     137   BIC:                             567.8
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.0427      0.376      8.085      0.000       2.298       3.787
Feature 1      0.0460      0.002     26.211      0.000       0.042       0.049
Feature 2      0.1801      0.010     18.306      0.000       0.161       0.200
==============================================================================
Omnibus:                       51.128   Durbin-Watson:                   2.209
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              126.947
Skew:                          -1.494   Prob(JB):                     2.71e-28
Kurtosis:                       6.583   Cond. No.                         439.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [18]:
x_test = sm.add_constant(x_test)

In [19]:
y_pred = result.predict(x_test)

In [20]:
y_pred

56      8.439262
37     15.373044
67     12.055894
79      9.760370
80     11.362642
188    18.689521
183    24.004290
10      7.124972
128    21.992142
62     16.831570
65      7.888633
17     23.106986
133    19.177439
195     5.464576
146    15.391422
38      9.832319
173    12.060380
149     9.743747
93     21.146994
29      9.168908
0      20.425261
2      12.100205
122    13.768991
180    10.707602
95     16.238733
121     7.815040
185    20.586587
39     20.310743
66      8.920999
19     14.116586
11     17.232008
45     15.141997
41     17.192526
92     19.080932
168    17.192132
1      12.166059
57     12.759955
189     6.081375
151    10.116227
167    13.482865
116    12.015276
138     9.683634
155     5.320367
82     10.159378
160    14.230022
181    14.056569
171    14.366689
12     10.458310
55     21.080736
77     13.713486
22      6.513042
129     7.942950
105    17.737107
102    17.738555
159    12.409065
9      12.692886
15     20.613702
150    18.445956
76      4.594616
119     6.815979
dtype: float64