In [2]:
import pandas as pd
import os
from shutil import copyfile as copy
import shutil
from tqdm import tqdm

df = pd.read_csv('imgs_all_data.csv')
del df['likes']
del df['comments']
del df['img_link']
del df['img_id']
df = df.dropna()

In [62]:
t = [ ]
for tags in df['tags'][:-1]:
    
    try:
        t += [tag.strip() for tag in tags.split(',')]
    except:
        pass
    

tags = list(set(t))
len(tags)

1601

In [63]:
for tag in tqdm(tags):
    
    try:
        os.mkdir('Dataset/' + tag)
    except:
        pass

100%|██████████| 1601/1601 [00:00<00:00, 7262.17it/s]

In [5]:

for data in df.values[:10]:
    
    tags = data[0]
    tags = ['Dataset/' + tag.strip() + '/' for tag in tags.split(',')]
    src = data[1]
    for i in tags:
        
        dst = i + src.split('/')[-1]

        print(src)
        print(dst)
        print('-'*23)

Imgs/A00001.jpg
Dataset/Clouds/A00001.jpg
-----------------------
Imgs/A00001.jpg
Dataset/Sky/A00001.jpg
-----------------------
Imgs/A00001.jpg
Dataset/Atmosphere/A00001.jpg
-----------------------
Imgs/A00001.jpg
Dataset/Blue Sky/A00001.jpg
-----------------------
Imgs/A00002.jpg
Dataset/Bird/A00002.jpg
-----------------------
Imgs/A00002.jpg
Dataset/Ornithology/A00002.jpg
-----------------------
Imgs/A00002.jpg
Dataset/Hummingbird/A00002.jpg
-----------------------
Imgs/A00003.jpg
Dataset/Sea/A00003.jpg
-----------------------
Imgs/A00003.jpg
Dataset/Rainbow/A00003.jpg
-----------------------
Imgs/A00003.jpg
Dataset/Rainfall/A00003.jpg
-----------------------
Imgs/A00003.jpg
Dataset/Subtropical/A00003.jpg
-----------------------
Imgs/A00004.jpg
Dataset/Cherry Blossoms/A00004.jpg
-----------------------
Imgs/A00004.jpg
Dataset/Road/A00004.jpg
-----------------------
Imgs/A00004.jpg
Dataset/Japan/A00004.jpg
-----------------------
Imgs/A00004.jpg
Dataset/Sakura/A00004.jpg
-----------------------
Imgs/A00005.jpg
Dataset/Cape Marguerite/A00005.jpg
-----------------------
Imgs/A00005.jpg
Dataset/Flower/A00005.jpg
-----------------------
Imgs/A00005.jpg
Dataset/Plant/A00005.jpg
-----------------------
Imgs/A00006.jpg
Dataset/Relaxing Rest Under The Tree/A00006.jpg
-----------------------
Imgs/A00007.jpg
Dataset/Cottontail Rabbit/A00007.jpg
-----------------------
Imgs/A00007.jpg
Dataset/Wild Rabbit/A00007.jpg
-----------------------
Imgs/A00007.jpg
Dataset/Grass/A00007.jpg
-----------------------
Imgs/A00008.jpg
Dataset/Crocus/A00008.jpg
-----------------------
Imgs/A00008.jpg
Dataset/Flowers/A00008.jpg
-----------------------
Imgs/A00008.jpg
Dataset/Spring/A00008.jpg
-----------------------
Imgs/A00008.jpg
Dataset/Plant/A00008.jpg
-----------------------
Imgs/A00009.jpg
Dataset/Coffee/A00009.jpg
-----------------------
Imgs/A00009.jpg
Dataset/Café/A00009.jpg
-----------------------
Imgs/A00009.jpg
Dataset/Vacation/A00009.jpg
-----------------------
Imgs/A00009.jpg
Dataset/Drink/A00009.jpg
-----------------------
Imgs/A00009.jpg
Dataset/Table/A00009.jpg
-----------------------
Imgs/A00010.jpg
Dataset/Waterfall/A00010.jpg
-----------------------
Imgs/A00010.jpg
Dataset/Fall/A00010.jpg
-----------------------
Imgs/A00010.jpg
Dataset/Epic/A00010.jpg
-----------------------
Imgs/A00010.jpg
Dataset/Nature/A00010.jpg
-----------------------
Imgs/A00010.jpg
Dataset/Light/A00010.jpg
-----------------------

In [64]:
error = 0

for data in df.values:
    
    tags = data[0]
    tags = ['Dataset/' + tag.strip() + '/' for tag in tags.split(',')]
    src = data[1]
    for i in tags:
        
        dst = i + src.split('/')[-1]
        
        try:
            copy(src, dst)
        except:
            error += 1

In [65]:
folders = os.listdir('Dataset')
len(folders)

1593

In [66]:
folder_ = []
freq    = []

for folder in tqdm(folders):
    
    try:
        freq.append(len(os.listdir('Dataset/' + folder)))
        folder_.append(folder)

    except:
        pass

100%|██████████| 1593/1593 [00:00<00:00, 4453.76it/s]

In [67]:
df_ = pd.DataFrame()

df_['folder'] = folder_
df_['freq']   = freq

df_.sort_values(by = 'freq', ascending = False).head(10)

           folder  freq
947        Nature   108
566       Flowers    97
563        Flower    89
119          Bird    79
34         Animal    55
1309       Spring    51
1073        Plant    48
138         Bloom    46
141       Blossom    41
986   Ornithology    37

In [68]:

df_.sort_values(by = 'freq', ascending = True).head(10)

                                                folder  freq
751                         In einem kleinen Städtchen     0
0    &quot;All we are saying is give peace a chance...     1
969                                             Occult     1
968                                               Oats     1
966                                                Nyc     1
965                                               Nuts     1
963                                               Nude     1
962                                          North Sea     1
961                        North American River Otters     1
960                                           No Truth     1

In [69]:

df_[df_['freq'] >= 50]

       folder  freq
34     Animal    55
119      Bird    79
563    Flower    89
566   Flowers    97
947    Nature   108
1309   Spring    51

In [70]:
for i in tqdm(df_[df_['freq'] < 50]['folder']):
    
    
    src = 'Dataset/' + i
    dst = 'Temp/' + i
    
    shutil.move(src, dst)

100%|██████████| 1586/1586 [00:01<00:00, 824.35it/s]